USE [Consolidado_Personal]
GO
/****** Object:  Table [dbo].[TBPersonal]    Script Date: 9/04/2024 23:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPersonal](
	[ID] [float] NOT NULL,
	[DNI] [nvarchar](255) NULL,
	[PERSONAL] [nvarchar](255) NULL,
	[CUMPLEAÑOS] [datetime] NULL,
	[PUESTO] [nvarchar](255) NULL,
	[CARGO] [nvarchar](255) NULL,
	[FUNCION] [nvarchar](255) NULL,
	[MODALIDAD] [nvarchar](255) NULL,
	[ROL] [nvarchar](255) NULL,
	[TASA] [nvarchar](255) NULL,
	[EMPRESA] [nvarchar](255) NULL,
	[COORDINADOR] [nvarchar](255) NULL,
	[GABIN] [nvarchar](255) NULL,
	[PEOPLE] [nvarchar](255) NULL,
	[FECHA_PROYECTO] [datetime] NULL,
	[FECHA_CESE] [datetime] NULL,
	[DIAS_AL_CESE] [float] NULL,
	[PERIODO_PRUEBA] [nvarchar](255) NULL,
	[INGRESO_INDRA] [datetime] NULL,
	[DIAS_EMPRESA] [float] NULL,
	[VACACIONES_URGENTES] [datetime] NULL,
	[Equipo] [nvarchar](255) NULL,
	[CELULAR] [float] NULL,
	[CORREO] [nvarchar](255) NULL,
	[CPERSONAL] [nvarchar](255) NULL,
	[DIRECCION] [nvarchar](255) NULL,
	[DISTRITO] [nvarchar](255) NULL,
	[PROVINCIA] [nvarchar](255) NULL,
	[DEPARTAMENTO] [nvarchar](255) NULL,
	[OBSERVACION] [nvarchar](255) NULL,
	[F31] [nvarchar](255) NULL,
	[ESTADO] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBPersonal] ADD  DEFAULT ('Activo') FOR [ESTADO]
GO
