﻿@using Entities
@using Business
@inject NavigationManager NavManager

<div>
    <EditForm Model="obPersonal">

        <div class="form-group">
            <label class="form-label">ID:</label>
            <InputText @bind-Value="id" class="form-control" MaxLength="6"/>
        </div>

        <div class="form-group">
            <label class="form-label">Documento de identidad:</label>
            <InputText @bind-Value="obPersonal.DNI" class="form-control" MaxLength="8"/>
        </div>

        <div class="form-group">
            <label class="form-label">Personal:</label>
            <InputText @bind-Value="obPersonal.PERSONAL" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Cumpleaños:</label>
            <InputDate @bind-Value="Cumpleaños" class="form-control" DisplayName="DateTime.Now()" />
        </div>

        <div class="form-group">
            <label class="form-label">Puesto:</label>
            <InputText @bind-Value="obPersonal.PUESTO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Cargo:</label>
            <InputText @bind-Value="obPersonal.CARGO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Función:</label>
            <InputText @bind-Value="obPersonal.FUNCION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Modalidad:</label>
            <InputSelect @bind-Value="obPersonal.MODALIDAD" class="form-control">
                <option value="">Seleccione una modalidad</option>
                <option value="PRESENCIAL">Presencial</option>
                <option value="REMOTO">Remoto</option>
                <option value="HIBRIDO">Hibrido</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Rol:</label>
            <InputSelect @bind-Value="obPersonal.ROL" class="form-control">
                <option value="">Seleccione un rol</option>
                <option value="T I">T I</option>
                <option value="T II">T II</option>
                <option value="T III">T III</option>
                <option value="T IV">T IV</option>
                <option value="G I">G I</option>
                <option value="SOP I">SOP I</option>
                <option value="SOP III">SOP III</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Tasa:</label>
            <InputSelect @bind-Value="obPersonal.TASA" class="form-control">
                <option value="">Seleccione una tasa</option>
                <option value="T7">T7</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Empresa:</label>
            <InputSelect @bind-Value="obPersonal.EMPRESA" class="form-control">
                <option value="">Seleccione una empresa</option>
                <option value="GERENTE">Gerente</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Coordinador:</label>
            <InputSelect @bind-Value="obPersonal.COORDINADOR" class="form-control">
                <option value="">Seleccione un coordinador</option>
                <option value="Jimmy Ruesta">Jimmy Ruesta</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Gabin:</label>
            <InputSelect @bind-Value="obPersonal.GABIN" class="form-control">
                <option value="">Seleccione un Gabin</option>
                <option value="Yamil Suarez">Yamil Suarez</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">People:</label>
            <InputSelect @bind-Value="obPersonal.PEOPLE" class="form-control">
                <option value="">Seleccione un People</option>
                <option value="Edison Sanchez">Edison Sanchez</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Fecha Proyecto:</label>
            <InputDate @bind-Value="FechaProyecto" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Fecha al Cese:</label>         
            <InputDate @bind-Value="FechaAlCese" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Dias al cese:</label>
   
        </div>

        <div class="form-group">
            <label class="form-label">Periodo de prueba (Meses):</label>
            <InputText @bind-Value="PeriodoDePrueba" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Fecha ingreso Indra:</label>
            <InputDate @bind-Value="FechaIngresoIndra" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Vacaciones Urgentes:</label>
            <InputDate @bind-Value="VacacionesUrgentes" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Equipo:</label>
            <InputSelect @bind-Value="obPersonal.Equipo" class="form-control">
                <option value="">Seleccione un equipo</option>
                <option value="No">No</option>
                <option value="Laptop">Laptop</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Número celular</label>
             <InputNumber @bind-Value="obPersonal.CELULAR" MaxLength="9" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Correo</label>
             <InputText @bind-Value="obPersonal.CORREO"  class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Correo personal</label>
            <InputText @bind-Value="obPersonal.CPERSONAL" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Dirección</label>
            <InputText @bind-Value="obPersonal.DIRECCION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Distrito</label>
            <InputText @bind-Value="obPersonal.DISTRITO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Provincia</label>
            <InputText @bind-Value="obPersonal.PROVINCIA" class="form-control" />
        </div>

           <div class="form-group">
            <label class="form-label">Departamento</label>
            <InputText @bind-Value="obPersonal.DEPARTAMENTO" class="form-control" />
        </div>

           <div class="form-group">
            <label class="form-label">Observación</label>
            <InputText @bind-Value="obPersonal.OBSERVACION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">F31</label>
            <InputText @bind-Value="obPersonal.F31" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Estado</label>
            <InputSelect @bind-Value="obPersonal.ESTADO" class="form-control">
                <option value="">Seleccione un estado</option>
                <option value="ACTIVO">Activo</option>
                <option value="INACTIVO">Inactivo</option>
            </InputSelect>
        </div>

        <hr />
        <div>
            <button type="button" class="btn btn-primary" @onclick="SavePersonal">Agregar Personal</button>
        </div>
        <hr />
    </EditForm>
</div>

@code {
    PersonalEntity obPersonal = new PersonalEntity();
    string id;
    string PeriodoDePrueba;
    DateTime Cumpleaños = DateTime.Now;
    DateTime FechaProyecto  = DateTime.Now;
    DateTime FechaIngresoIndra = DateTime.Now;
    DateTime VacacionesUrgentes = DateTime.Now;
    DateTime FechaAlCese = DateTime.Now;

    @* List<CategoryEntity> CategoriesList = new List<CategoryEntity>(); *@

    protected override async Task OnInitializedAsync()
    {
        //CategoriesList = B_Category.CategoryList();
    }

    private void SavePersonal()
    {
        obPersonal.ID = Double.Parse(id);
        obPersonal.CUMPLEAÑOS = Cumpleaños.ToString();
        obPersonal.PERIODO_PRUEBA = PeriodoDePrueba.ToString();
        obPersonal.FECHA_CESE = FechaAlCese.ToString();
        obPersonal.INGRESO_INDRA = FechaIngresoIndra.ToString();
        obPersonal.VACACIONES_URGENTES = VacacionesUrgentes.ToString();
        obPersonal.FECHA_PROYECTO = FechaProyecto.ToString();
        obPersonal.DIAS_EMPRESA = ContarDiasPresente(FechaIngresoIndra, DateTime.Now);
        obPersonal.DIAS_AL_CESE = CalcularDiferencia(FechaAlCese, DateTime.Now);


        TB_Personal.CreatePersonal(obPersonal);
        NavManager.NavigateTo("personal/list");
    }

    private static int ContarDiasPresente(DateTime fechaInicio, DateTime fechaFin)
    {
        TimeSpan diferencia = fechaFin - fechaInicio;
        int diasPresente = diferencia.Days + 1;
        return diasPresente;
    }

    private static int CalcularDiferencia(DateTime fecha, DateTime fechaActual)
    {
        if (fecha == DateTime.MinValue)
        {
            return -1; // Devuelve -1 para representar "Indefinido"
        }
        else
        {
            TimeSpan diferencia = fecha - fechaActual;
            return (int)diferencia.TotalDays;
        }
    }
}