﻿@using Entities
@using Business
@inject NavigationManager NavManager
@inject SweetAlertService SweetAlert

<div>
    <EditForm Model="obPersonal">

        <div class="form-group">
            <label class="form-label">Documento de identidad:</label>
            <InputText @bind-Value="obPersonal.DNI" class="form-control" MaxLength="8" />
        </div>

        <div class="form-group">
            <label class="form-label">Personal:</label>
            <InputText @bind-Value="obPersonal.PERSONAL" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Cumpleaños:</label>
            <InputDate @bind-Value="obPersonal.CUMPLEAÑOS" class="form-control"/>
        </div>

        <div class="form-group">
            <label class="form-label">Puesto:</label>
            <InputText @bind-Value="obPersonal.PUESTO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Cargo:</label>
            <InputText @bind-Value="obPersonal.CARGO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Función:</label>
            <InputText @bind-Value="obPersonal.FUNCION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Modalidad:</label>
            <InputSelect @bind-Value="obPersonal.MODALIDAD" class="form-control">
                <option value="">Seleccione una modalidad</option>
                <option value="PRESENCIAL">Presencial</option>
                <option value="REMOTO">Remoto</option>
                <option value="HIBRIDO">Hibrido</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Rol:</label>
            <InputText @bind-Value="obPersonal.ROL" class="form-control"/>
        </div>

        <div class="form-group">
            <label class="form-label">Tasa:</label>
            <InputText @bind-Value="obPersonal.TASA" class="form-control"/>
        </div>

        <div class="form-group">
            <label class="form-label">Empresa:</label>
            <InputText @bind-Value="obPersonal.EMPRESA" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Coordinador:</label>
            <InputText @bind-Value="obPersonal.COORDINADOR" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Gabin:</label>
            <InputText @bind-Value="obPersonal.GABIN" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">People:</label>
            <InputText @bind-Value="obPersonal.PEOPLE" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Fecha Proyecto:</label>
            <InputDate @bind-Value="obPersonal.FECHA_PROYECTO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Fecha al Cese:</label>
            <InputDate @bind-Value="obPersonal.FECHA_CESE" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Periodo de prueba (Meses):</label>
            <InputText @bind-Value="obPersonal.PERIODO_PRUEBA" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Fecha ingreso Indra:</label>
            <InputDate @bind-Value="obPersonal.INGRESO_INDRA" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Vacaciones Urgentes:</label>
            <InputDate @bind-Value="obPersonal.VACACIONES_URGENTES" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Equipo:</label>
            <InputSelect @bind-Value="obPersonal.Equipo" class="form-control">
                <option value="">Seleccione un equipo</option>
                <option value="No">No</option>
                <option value="Laptop">Laptop</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label class="form-label">Número celular</label>
            <InputNumber @bind-Value="obPersonal.CELULAR" MaxLength="9" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Correo</label>
            <InputText @bind-Value="obPersonal.CORREO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Correo personal</label>
            <InputText @bind-Value="obPersonal.CPERSONAL" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Dirección</label>
            <InputText @bind-Value="obPersonal.DIRECCION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Distrito</label>
            <InputText @bind-Value="obPersonal.DISTRITO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Provincia</label>
            <InputText @bind-Value="obPersonal.PROVINCIA" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Departamento</label>
            <InputText @bind-Value="obPersonal.DEPARTAMENTO" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Observación</label>
            <InputText @bind-Value="obPersonal.OBSERVACION" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">F31</label>
            <InputText @bind-Value="obPersonal.F31" class="form-control" />
        </div>

        <div class="form-group">
            <label class="form-label">Estado</label>
            <InputSelect @bind-Value="obPersonal.ESTADO" class="form-control">
                <option value="">Seleccione un estado</option>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </InputSelect>
        </div

        <hr />
        <div>
            <button type="button" class="btn btn-primary" @onclick="UpdatePersonal">Actualizar Personal</button>
        </div>
        <hr />
    </EditForm>
</div>

@code {
    PersonalEntity obPersonal = new PersonalEntity();

    [Parameter]
    public string IdPersonal { get; set; }


    protected override async Task OnInitializedAsync()
    {
        obPersonal = TB_Personal.PersonalById(Double.Parse(IdPersonal));
    }

    private async void UpdatePersonal()
    {
        obPersonal.DIAS_EMPRESA = ContarDiasPresente(obPersonal.INGRESO_INDRA, DateTime.Now);
        obPersonal.DIAS_AL_CESE = CalcularDiferencia(obPersonal.FECHA_CESE, DateTime.Now);

         SweetAlertResult resultado = await SweetAlert.FireAsync(new SweetAlertOptions
            {
                Title = "Quieres modificar información de " + obPersonal.PERSONAL,
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Si",
                CancelButtonText = "No"
        });

        if (!string.IsNullOrEmpty(resultado.Value))
        {
            await SweetAlert.FireAsync(
              "La información fue actualizada." ,
              "La información fue actualizada con éxito.",
              SweetAlertIcon.Success
              );

            TB_Personal.UpdatePersonal(obPersonal);
            NavManager.NavigateTo("");
        }
    }

        private static int ContarDiasPresente(DateTime? fechaInicio, DateTime fechaFin)
        {
            if (fechaInicio.HasValue)
        {
            TimeSpan diferencia = fechaFin - fechaInicio.Value;
            int diasPresente = diferencia.Days + 1;
            return diasPresente;
        }
            else
        {
            return -1; 
        }
}

        static int CalcularDiferencia(DateTime? fecha, DateTime fechaActual)
        {
            if (fecha == null || fecha == DateTime.MinValue)
        {
            return -1;
        }
            else
        {
            TimeSpan diferencia = fecha.Value - fechaActual;
            return (int)diferencia.TotalDays;
        }
     }
}